/**
* Variables.scss
*
* COLORS
*
* Brand Colors
* Complimentary colors
* Utility colors
*
* TYPOGRAPHY
* Font families
* Font-sizes
* Typography
* Headers
*
* LAYOUT
* Sizes
* Padding
*
* Breakpoints
*
**/

$color-dark: #2B3338;
$color-light: whitesmoke;

// Brand Colors

$i-brand-color-default: #2B3338; // default color for text
$i-brand-color-light: whitesmoke; // default background color

// Fonts
// $i-font-xs: vv

// Icon tokens based on
$bxs-layout: ""// <i class='bx bxs-layout'></i>
