html {
  font-size: 16px;
}
main {
  height: 60vh;
}

.nav {
  height: 10vh;
}

.headline {
  font-size: rem(150px);
  font-weight: bold;
  text-transform: uppercase;
  &.headline-sm {
    font-size: rem(72px);
  }
  &.headline-title {
    font-weight: 500;
    font-size: rem(60px);
  }
}

.subtitle {
  font-size: rem(32px);
}
.button {
  padding: rem(18px 36px);
  background-color: $dark;
  color: $light;
  font-size: rem(21px);
  border-radius: rem(99px);
}

.button-md {
  font-size: rem(32px);
}

.button-lg {
  font-size: rem(36px);
}

a.button {
  color: $light;
}

.sidebar {
  // position: static;
  min-height: 100vh !important;

  .sidebar-nav {
    a {
      display: block;
      color: $light;
      padding: rem(10px 0);
      font-size: rem(18px);
    }
  }
}
