<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{{ title }}</title>
    {% include "./partials/head.html" %}
    <!---->
    {%- for links in collections.guides -%} {% if links.data.stylesheet %}
    <link href="{{ links.data.stylesheet }}" rel="stylesheet" />
    {% endif %} {%- endfor -%}
  </head>
  <body cz-shortcut-listen="true">
    {% block nav %}
    <div class="container-fluid bg-light">
      <nav>{% include "./views/nav.njk" %}</nav>
    </div>
    {% endblock %}

    <!-- header -->
    {% block header %}
    <header class="container">{% include "./views/header.njk" %}</header>
    {% endblock %}

    <main class="container">
      <div class="row">
        <!-- left sidebar -->
        {% block left %} {% endblock %}
        <!-- content -->

        {% block content %} {% include "./views/content.njk" %} {% endblock %}

        <!-- sidebar -->
        {% block right %}{% endblock right %}
      </div>
    </main>

    {% block footer %}
    <footer class="container ui-footer py-5" style="height:200px">
      {% include "./views/footer.njk" %}
    </footer>
    {% endblock %} {% include "./partials/footer-scripts.html" %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>
