{% extends './base.njk' %}
<!-- nav -->
{% block nav %} {% endblock %}
<!-- content -->
{% block header %}{% endblock %}
<!-- main content -->
{% block main %}
<main class="d-flex justify-content-center text-center cover bg-dark">
  <div class="container align-items-center align-self-center text-white">
    <div class="text-uppercase headline">Idea.</div>
    <div class="subtitle text-uppercase">
      <!-- A toolkit for building & managing a design systems -->
    </div>
  </div>
</main>
{% endblock %}
<!-- footer -->
{% block footer %}
<footer class="container d-flex justify-content-center py-5">
  <div class="align-items-center">
    <p class="subtitle">
      IDEA <small>(beta)</small> is a simple and easy to use HTML, CSS and
      JAVASCRIPT toolkit (framework if you prefer) for building and managing
      your teams design systems. allowing you to turn your ideas and vision into
      products.
    </p>
    <p class="text-right"><a href="/ideas" class="">Read More</a></p>
  </div>
</footer>
{% endblock %}
