{% extends './base.njk' %}
<!-- nav -->
{% block nav %} {% endblock %}
<!-- content -->
{% block header %}{% endblock %}
<!-- main content -->
{% block main %}
<main class="d-flex justify-content-center text-center cover bg-dark">
  <div class="container align-items-center align-self-center text-white">
    <div class="text-uppercase headline">Idea.</div>
    <div class="subtitle text-uppercase">
      A toolkit for building & managing a design systems
    </div>
  </div>
</main>
{% endblock %}
<!-- footer -->
{% block footer %}
<footer class="container d-flex justify-content-center py-5">
  <div class="align-items-center">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
      laudantium natus commodi eos accusantium consequatur eveniet sequi,
      eligendi reiciendis voluptatibus excepturi quam autem. Corporis architecto
      eveniet voluptatum recusandae? Sequi, expedita.
    </p>
  </div>
</footer>
{% endblock %}
