#ie-warning {
  background-color: rgb(248, 248, 186);
  color: #000;
  padding: 10px;
  text-align: center;
  font-size: small;
  > * {
    max-width: 80%;
    margin: auto;
  }
}

.ie-hidden {
  display: none;
}
