<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{{ title }}</title>
    {% include "./partials/header-scripts.html" %}
  </head>
  <body cz-shortcut-listen="true">
    {% block nav %}
    <nav>{% include "./views/nav.njk" %}</nav>
    {% endblock %}

    <!-- header -->
    {% block header %}
    <header>{% include "./views/header.njk" %}</header>
    {% endblock %}
    <div id="components">
      <div class="ui-content">
        <main class="container">
          <div class="row">
            <!-- left sidebar -->
            {% block left %} {% endblock %}
            <!-- content -->

            {% block content %} {% include "./views/content.njk" %} {% endblock
            %}

            <!-- sidebar -->
            {% block right %}{% endblock right %}
          </div>
        </main>
      </div>
      {% block footer %}
      <footer class="ui-footer py-5" style="height:200px">
        {% include "./views/footer.njk" %}
      </footer>
      {% endblock %}
    </div>
    {% include "./partials/footer-scripts.html" %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>
