<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <title>Globalise {{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.15.0/themes/prism-tomorrow.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.15.0/plugins/line-numbers/prism-line-numbers.css">
  <link href="https://shopglobaluidesign-techdata-dev.azurewebsites.net/styles/app.css" rel="stylesheet">
</head>

<body cz-shortcut-listen="true">
  <div id="components">
    <div class="ui-content">
      <div>
        <div>
          {% include "./views/header-nav.html" %}
          <main class="container-fluid">
            <div class="row">

              <div class="col-md-2 bg-light"></div>
            <div class="col-md-9">
              <div class="ui-content py-5">
                <!-- display-4 roboto text-primary -->
                  <p class="display-4 roboto text-sg-secondary">
                      {{ title }}
                    </p>
                    <p class="fs-3">
                      {{ description }}
                    </p>
                    {% include './partials/hr-rule.html' %}
                {{ content | safe }}
              </div>
              <footer class="ui-footer py-5" style="height:200px">
                {% include "./views/footer.html" %}
              </footer>
            </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.15.0/prism.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.15.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
</body>
</html>
