// StyleMix demo

//import tokens
@import "./tokens/tokens";

// import mix library
@import "./index.scss";

/** generate all components in specified map--default component **/
@include mix-components("buttons");
@include mix-components("links");

// generate button modifiers using the mix-modifier (mixin)
/** generate buttons using the modifier **/
.mx {
  &-btn {
    @include mix-rules("buttons.btn");
  }

  &-nav {
    @include mix-modifier("nav.nav-bar");
  }

  @include mix-utilities("font");

  @include mix-colors();

  &-danger {
    color: mix-get("color.red");
  }
}

.test {
  @if is-modifier-state("hover") {
    @debug "This is a state";
  } @else {
    @debug "Sorry not state found";
  }
  @if is-modifier-state("hov") {
    @debug "This is a state";
  } @else {
    @debug "Sorry not state found";
  }
  @if is-modifier-state("focus-within") {
    @debug "This is a state";
  } @else {
    @debug "Sorry not state found";
  }
}
