---
layout: theme/index.njk
collection: none
package: "vue"
title: Idea a design system framework
scripts: ["/js/mix.js"]
---

<main class="d-flex justify-content-center text-center cover bg-dark">
  <div class="container align-items-center align-self-center text-white">
    <div id="mx-clip" class="text-uppercase headline">Idea.</div>
    <div class="subtitle text-uppercase">
      <!-- A toolkit for building & managing a design systems -->
    </div>
  </div>
</main>

<footer class="container d-flex- justify-content-center py-5">
  <div class="align-items-center">
    <p class="subtitle text-center">
      IDEA <small>(beta)</small> is a simple, easy to use HTML, CSS and
      JAVASCRIPT toolkit for building and managing a living design system.
    </p>

    <p class="text-right text-center py-3">
      <a href="/ideas" class="button button-md m-2 button-rounded">
        Read More
      </a>
      <a href="/modules/elements" class="button button-md m-2 button-rounded">Sample Modules</a>
    </p>

  </div>
  <div>
    {% for atom in collections.atoms %}
    <h2>
      {{ atom.data.title }}
    </h2>
    {{ atom.templateContent | safe }}
    {% endfor %}
  </div>

  <div class="data bg-light p-2">
    <div class="container bg-light">
      <div class="row">
        {% for name, val in tokens.colors.color %}
        {% if val.value %}
        <div class="col-md-2 p-2 rounded">
          <div class="p-5 rounded shadow-lg" style="background-color: {{ val.value }}"></div>
          <div class="color text-uppercase" style="color: {{ val.value }}">
            {{ name }} - {{ val.value }}
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <!-- <hr> -->
    <div class="container">
      <div class="row mx-clip">
        {% for name, val in tokens.colors.color.dark %}
        {% if val.value %}
        <div class="col-md-2 p-2">
          <div class="p-5 rounded shadow-lg" style="background-color: {{ val.value }}"></div>
          <div class="color text-uppercase mx-font-xs" style="color: {{ val.value }}">
            {{ name }} - {{ val.value }}
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="">
        <p>
          <button class="mix-clipboard"
            data-clipboard-text="Just because you can doesn't mean you should — clipboard.js">Mix Button
            <span>&#9986;</span></button>
          <button class="mix-clipboard" data-clipboard-target=".mx-clip">Mix Code <span>&#9986;</span></button>
        </p>
        <p>
          {% copy_element %}
          copy element
          {% endcopy_element %}

          {% copy_string "copied string", "button button-md m-2" %}
          copy string
          {% endcopy_string %}
        </p>
      </div>
      <section class="row py-4">
        <div class="typography">
          {% for name, val in tokens.fonts.font.size.title %}
          {% if val.value %}
          <aside class="col-md-12 p-2">
            {% if name == 'base' %}
            <header class="title" style="font-size: {{ val.value }}">
              <span class="text-uppercase">mix-title</span> <span class="font-italic">(
                {{ val.comment }} )</span>
            </header>
            {% else %}
            <header class="title" style="font-size: {{ val.value }}">
              <span class="text-uppercase">mix-title-{{ name }}</span>
              <span class="font-italic">( {{ val.comment }} )</span>
            </header>
            {% endif %}
          </aside>
          {% endif %}
          {% endfor %}

        </div>
      </section>
      <section class="row py-4">
        <div class="typography">
          {% for name, val in tokens.fonts.font.size %}
          {% if val.value %}
          <aside class="col-md-12 p-2">
            {% if name == 'base' %}
            <p class="title" style="font-size: {{ val.value }}">
              <span class="text-uppercase">mix-font</span> <span class="font-italic">(
                {{ val.comment }} )</span>
            </p>
            <p class="title" style="font-size: {{ val.value }}">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sed quae ullam et labore provident illo
              beatae dicta. Doloremque vitae atque, quos repellendus iusto corporis reprehenderit perferendis quisquam
              aliquid omnis?
            </p>
            {% else %}
            <p class="title" style="font-size: {{ val.value }}">
              <span class="text-uppercase">mix-font-{{ name }}</span>
              <span class="font-italic">( {{ val.comment }} )</span>
            </p>
            <p class="title" style="font-size: {{ val.value }}">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sed quae ullam et labore provident illo
              beatae dicta. Doloremque vitae atque, quos repellendus iusto corporis reprehenderit perferendis quisquam
              aliquid omnis?
            </p>
            {% endif %}
          </aside>
          {% endif %}
          {% endfor %}
        </div>
      </section>
    </div>

  </div>
</footer>
