---
layout: theme/index.njk
collection: none
package: "vue"
title: Idea a design system framework
scripts: ["/js/mix.js"]
description: "Excerpt Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ducimus inventore adipisci corporis
cumque odio
voluptatem
eius magni ea! Est doloribus quibusdam a cupiditate officia quas natus similique distinctio optio."
---

<main class="d-flex justify-content-center text-center cover bg-dark">
  <div class="container align-items-center align-self-center text-white">
    <div id="mx-clip" class="text-uppercase headline">Idea.</div>
    <div class="subtitle text-uppercase">
      <!-- A toolkit for building & managing a design systems -->
    </div>
  </div>
</main>

<footer class="container d-flex- justify-content-center py-5">
  <div class="align-items-center">
    <p class="subtitle text-center">
      IDEA <small>(beta)</small> is a simple, easy to use HTML, CSS and
      JAVASCRIPT toolkit for building and managing a living design system.
    </p>

    <p class="text-right text-center py-3">
      <a href="/ideas" class="button button-md m-2 button-rounded">
        Read More
      </a>
      <a href="/modules/elements" class="button button-md m-2 button-rounded">Sample Modules</a>
    </p>
  </div>
  <p>
    {{ description }}
  </p>
  <div>
    {% for atom in collections.atoms %}
    <h2>
      {{ atom.data.title }}
    </h2>
    {{ atom.templateContent | safe }}
    {% endfor %}
  </div>

  <div class="data bg-light p-2">

    <div class="container bg-light">
      <div class="row">
        <div class="col-12 mx-font-title">
          Brand Colors
        </div>
        {% for name, val in tokens.colors.color.ui %}
        <div class="col-md-3 p-2">
          {% MixSwatch "id-bg-ui-"+ name, name %}
          {{ val.comment }} {{ name }}
          {% endMixSwatch %}
        </div>
        {% endfor %}
      </div>

      <div class="row">
        <div class="col-12 mx-font-title">
          Default Colors
        </div>
        {% for name, val in tokens.colors.color %}
        {% if val.value %}
        <div class="col-md-3 p-2 rounded">
          {% MixSwatch "id-bg-"+ name, name %}
          {{ name }} {{ val.comment }}
          {% endMixSwatch %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="row mx-clip">
        <div class="col-12 mx-font-title">
          Grays
        </div>
        {% for name, val in tokens.colors.color.grays %}
        {% if val.value %}
        <div class="col-md-3 p-2">
          {% MixSwatch "id-bg-dark-"+ name, name %}
          {{ val.comment }} {{ name }}
          {% endMixSwatch %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <!-- <hr> -->
    <div class="container">

      <section class="button-examples">
        <p>
          <button class="mix-clipboard"
            data-clipboard-text="Just because you can doesn't mean you should — clipboard.js">Mix Button
            <span>&#9986;</span></button>
          <button class="mix-clipboard" data-clipboard-target=".mx-clip">Mix Code <i class="fad fa-copy"></i></button>
        </p>
        <p>
          {% CopyElement %}
          copy element <i class="fal fa-cut"></i>
          {% endCopyElement %}

          {% CopyString "copied string", "mx-btn" %}
          copy string <i class="fad fa-copy"></i>
          {% endCopyString %}
        </p>
        <p class="mx-btn-">
          <button class="mx-btn">
            Mix Button
          </button>
          <button class="mx-btn mx-btn-rounded">
            Mix rounded Button
          </button>
          <button class="mx-btn mx-btn-pill">
            Mix Pill Button
          </button>
        </p>
      </section>
      <section class="row py-4">
        <div class="typography">
          <div class="col">
            <h2 class="mx-font-header-lg">Typography</h2>
          </div>
          {% for name, val in tokens.fonts.font.size %}
          {% if val.value %}
          <aside class="col-md-12 p-2">
            {% if name == 'base' %}
            {% MixType val.value, name, val.comment %}
            <div class="">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad fugit fugiat, blanditiis eligendi
              harum expedita cupiditate error laboriosam vero vel quibusdam? Recusandae ratione expedita porro earum
              quia fuga, quo officia!
              <br>
              <span>
                .mx-font
              </span>
            </div>
            {% endMixType %}
            {% else %}
            {% MixType val.value, name, val.comment %}
            <div class="">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad fugit fugiat, blanditiis eligendi
              harum expedita cupiditate error laboriosam vero vel quibusdam? Recusandae ratione expedita porro earum
              quia fuga, quo officia!
              <br>
              <span>
                .mx-font-{{ name }}
              </span>
            </div>
            {% endMixType %}
            {% endif %}
          </aside>
          {% endif %}
          {% endfor %}
        </div>
      </section>

      <section class="row py-4">
        <div class="typography">
          {% for name, val in tokens.fonts.font.size.header %}
          {% if val.value %}
          <aside class="col-md-12 p-2">
            {% if name == 'base' %}
            {% MixType val.value, name, val.comment %}
            <div class="">.mx-font-header</div>
            {% endMixType %}
            {% else %}
            {% MixType val.value, name, val.comment %}
            <div class="">.mx-font-header-{{name}}</div>
            {% endMixType %}
            {% endif %}
          </aside>
          {% endif %}
          {% endfor %}

        </div>
      </section>

    </div>

  </div>
</footer>
