/** Checkbox mixin *************************
Demo and code examples: https://codepen.io/shawn-sandy/pen/GRgvqjm
**/

@import "../helpers";

/// checkbox defaults
@mixin mix-checkbox() {
  display: none;
  pointer-events: none;
  & + label:before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: whitesmoke;
    border: 2px solid darkgray;
    margin-right: 5px;
    margin-left: 0px;
    transition: all 0.8s ease;
  }
  @include mix-checkbox-selected();
  @content;
}

/// change/update the label checkbox style
@mixin mix-checkbox-label(
  $map: (
    "background-color": darkgray,
    "border": 2px solid whitesmoke
  )
) {
  & + label:before {
    @include mix-maps($map);
    @content;
  }
}

// change or update the selected checkbox label style
@mixin mix-checkbox-selected(
  $map: (
    "background-color": darkgray,
    "border": 2px solid lightgray
  )
) {
  &:checked + label:before {
    @include mix-maps($map);
    @content;
  }
}

// end mixin *************************
