<!-- Content Nav collection -->
{% macro anchors(links) %} {% for link in links %}
<a class="anchors" href="#{{ link.data.title | slug }}">
  {{ link.data.name or link.data.title }}
</a>
<!-- <hr> -->
{% endfor %} {% endmacro %}
