<!-- modules -->
{% macro modules(modules) %} {% for item in modules %}

<aside id="{{ item.data.title | slug }}">
  <h5 class="text-uppercase text-sg-secondary-color-">
    {{ item.data.name or item.data.title }}
  </h5>

  <p class="">{{ item.data.description }}</p>

  <div class="ui-element py-2">{{ item.templateContent | safe }}</div>
</aside>

<hr class="border-sg-disabled" />

{% endfor %} {% endmacro %}
