<!-- collections -->
{% macro posts(collections) %} {% for item in collections %}

<aside id="{{ item.data.title | slug }}">
  <h2>{{ item.data.name or item.data.title }}</h2>
  <p class="">{{ item.data.description }}</p>
  <hr />
  <p><a href="{{ item.url }}">Read More</a></p>
</aside>

{% endfor %} {% endmacro %}
