<!-- collections -->
{% macro posts(collections, classes= "py-4") %} {% for item in collections %}

<aside id="{{ item.data.title | slug }}" class="posts {{ classes }}">
  <h2>{{ item.data.name or item.data.title }}</h2>
  <p class="">{{ item.data.description }}</p>
  <p><a href="{{ item.url }}">Read More</a></p>
</aside>

{% endfor %} {% endmacro %}
