<!-- Stylesheet macros -->
{% macro collection(collection) %}

<!-- -->

{% for styles in collection %} 

{% if styles.data.stylesheet %}

<link rel="stylesheet" href="{{ styles.data.stylesheet }}" />

{% endif %} 

{% endfor %}

<!-- -->

{% endmacro %}


