<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link src="https://shopglobaluidesign-techdata-dev.azurewebsites.net/styles/app.css">
    {% block head %}
    {% include "./partials/head.html" %}
    {% endblock %}
  </head>
  <body>
    {% block nav %}
    {% endblock %}
    <!-- header -->
    {% block header %}
    {% endblock %}
    <!-- main content -->
    {% block main %}
    <main class="container-fluid">
      <div class="row">{% include './views/main.njk' %}</div>
    </main>
    {% endblock %}
    <!-- footer -->
    {% block footer %}
    {% endblock %}
    <!-- scripts  -->
    {% include "./partials/footer-scripts.html" %}
  </body>
</html>
