{% extends './base.njk' %}
{% import "./macros/anchors.njk" as navs %}
{% import "./macros/links.njk" as url %}
<!-- replace nav -->
{% block nav %}{% endblock %}
<!-- remove header nav -->
{% block header %}{% endblock %}
<!-- content -->
{% block main %}

<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-light sidebar">
      <div class="p-3">
<div class="headline headline-sm">
  <a href="/" class="text-light">Idea.</a>
</div>
<div class="sidebar-nav">
  <a href="/ideas">Introduction</a>
{{ url.links(collections.ideas) }}
</div>
        </p>
      </div>
    </div>
    <div class="col-9">
      <div class="content p-4">
        <h1 class="headline headline-title">
         {{ title }}
        </h1>        
        <article class="py-4">
          {{ content | safe }}
        </article>
      </div>
    </div>
  </div>
</div>

{% endblock %}
<!-- footer -->
{% block footer %}{% endblock %}
