{% extends 'theme/layout.njk' %} {% block sidebar %}

<h3><a href="/ideas" class="lead text-uppercase">Elements</a></h3>
{{ collection.links(collections.elements) }}
<h3><a href="/ideas" class="lead text-uppercase">Components</a></h3>
{% endblock %}
