<ul class="d-flex nav list-unstyled">
  <li class="d-inline-flex align-items-center mx-4"><a href="#">Links</a></li>
  <li class="d-inline-flex align-items-center mx-4"><a href="#">Links</a></li>
  <li class="d-inline-flex align-items-center mx-4"><a href="#">Links</a></li>
  <li class="d-inline-flex align-items-center mx-4"><a href="#">Links</a></li>
  <li class="d-inline-flex align-items-center mx-4"><a href="#">Links</a></li>
</ul>
