%vh10 {
  min-height: 10vh;
}
%vh20 {
  min-height: 20vh;
}
%vh40 {
  min-height: 40vh;
}
%vh60 {
  min-height: 60vh;
}
%vh80 {
  min-height: 80vh;
}
%vh100 {
  min-height: 100vh;
}

// wh
%vw10 {
  min-width: 10vw;
}
%vw20 {
  min-width: 20vw;
}
%vw40 {
  min-width: 40vw;
}
%vw60 {
  min-width: 60vw;
}
%vw80 {
  min-width: 80vw;
}
%vw100 {
  min-width: 100vw;
}
