@mixin mapTokens(
  $map,
  $attribute,
  $prefix: '-',
  $separator: '-',
  $base: 'base'
) {
  @each $key, $value in $map {
    @if($key != "blue") {
      @error "incorrect key #{$key}"
    }
    &#{if($key != $base, #{$prefix}#{$key}, '')} {
      @if type-of($value) == 'map' {
        @include modifiers($value, $attribute, $separator);
      } @else {
        #{$attribute}: $value !important;
      }
      @include element($value, $attribute);
    }
  }
}
