@mixin class-generator(
  $key,
  $attribute,
  $map: $mix-tokens,
  $prefix: $mix-prefix
) {
  // get a predefined map
  $map: get($key, $map);
  @if type-of($map) != "map" {
    @error 'Incorrect map type `#{$map}`, map is required';
  } @else {
    // loop through maps
    //TODO check if the item is a map--map colors or run class generator value
    @each $item, $value in $map {
      // generate utility classes from keys
      // e.g. a color map containing colors .color-key { color: value }
      // prefix class if necessary
      $attr: map-color-attrs($attribute);

      @if type-of($value) == "map" {
        //@debug "value #{$item} item: #{$value}";
        // @debug "key #{$key} .item #{$item} .value #{$value}";
        // @debug "#{$key}.#{$item}";
        &#{$prefix}#{$item} {
          @include class-generator("#{$key}.#{$item}", $attribute);
        }
      } @else {
        // start
        &#{$attr}#{$prefix}#{$item} {
          @if type-of($value) != "map" {
            #{$attribute}: $value !important;

            @if type-of($value) == "color" {
              // $attr: map-color-attrs($attribute);
              &#{$prefix}hover {
                &:hover {
                  #{$attribute}: dynamic-hover-color($value);
                }
              }
              &\:hover {
                &:hover {
                  #{$attribute}: dynamic-hover-color($value);
                }
              }
              &\:focus {
                &:focus {
                  #{$attribute}: dynamic-hover-color($value);
                }
              }
              &#{$prefix}tp {
                #{$attribute}: dynamic-hover-color($value);
              }
            }
          }
        }
      }
    }
  }
}

// generate utility classes from your map key
@mixin mix-generator($key, $map: $mix-tokens, $attrs...) {
  @if length($attrs) >= 1 {
    @each $attr in $attrs {
      @include class-generator($key, $attr, $map);
    }
  }
}

@function map-color-attrs($attr) {
  @if $attr == "background-color" {
    @return "-bg";
  } @else if $attr == "border-color" {
    @return "-border";
  } @else {
    @return null;
  }
}

@mixin mix-spacing($map: $mix-tokens) {
  @include mix-generator($mix-spacing, $map, "spacing");
}

@mixin mix-sizing($map: $mix-tokens) {
  @include mix-generator($mix-sizing, $map, "spacing");
}

@function map-color-attrs($attr) {
  @if $attr == "background-color" {
    @return "-bg";
  } @else if $attr == "border-color" {
    @return "-border";
  } @else {
    @return null;
  }
}

@mixin mix-colors($color: $mix-colors, $map: $tokens) {
  @include mix-generator(
    $color,
    $map,
    "color",
    "background-color",
    "border-color"
  );
}
