// Setup up some defaults
$mix-tokens: $tokens !default;
$mix-colors: "color" !default;
$mix-fonts: "fonts" !default;
$mix-spacing: "spacing" !default;
$mix-sizing: "sizing" !default;
$mix-prefix: "-" !default;

@import "./functions";
@import "./general";
@import "./components";
@import "./generator";

@mixin g-colors($map: $tokens) {
  @include mix-generator(
    $mix-colors,
    $map,
    "color",
    "background-color",
    "border-color"
  );
}

@mixin g-fonts($map: $mix-tokens) {
  @include mix-generator($mix-fonts, $map, "fonts");
}

@mixin g-spacing($map: $mix-tokens) {
  @include mix-generator($mix-spacing, $map, "spacing");
}

@mixin g-sizing($map: $mix-tokens) {
  @include mix-generator($mix-sizing, $map, "spacing");
}
