// Setup up some defaults
$mix-tokens: $tokens !default; // token variable name
$mix-namespace: "mx" !default; // namespace
$mix-base: "base" !default; // default utility name
$mix-colors: "color" !default; // color key
$mix-fonts: "fonts" !default; // font key
$mix-spacing: "spacing" !default; // padding and margin
$mix-sizing: "sizing" !default; //  width heights
$mix-prefix: "-" !default; // separator for you class names my-class-name
$mix-components: "components" !default; // default component key
$mix-modifier-states: active focus focus-within hover visited before after; // define the states that you use
$mix-color-attrs: "color", "background-color", "border-color" !default;
@import "./functions";
@import "./general";
@import "./components";
@import "./generator";
@import "./utilities";
@import "./helpers";
