  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.15.0/prism.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.15.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
  <script>
  // comment
console.log('tabs js')

const fn = () => {
    return null
}


// Babel Input: ES2015 arrow function
let count  = () => {
 return  [1, 2, 3].map((n) => n + 1);  
} 

console.log('count', count);
  </script>